* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #0081cb;
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.6rem;
}

strong {
  color: #fd9700;
}

ul,
ol {
  list-style: none;
}

.flex {
  display: flex;
}

.icon {
  width: 60px;
  height: 60px;
  color: #fd9700;
  display: inline-block;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  background: -moz-linear-gradient(-45deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
  background: linear-gradient(135deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
}

.input {
  width: 100%;
  height: 50px;
  display: block;
  background: #f2f2f2;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #f2f2f2;
}

textarea {
  width: 100%;
  display: block;
  background: #f2f2f2;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #f2f2f2;
}

.contact-details {
  margin-bottom: 1rem;
}
.contact-details:last-child {
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group:last-child {
  margin-bottom: 2rem;
}

h5, h4, h3, h2, h1 {
  color: #2a2a2a;
  letter-spacing: 1px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 7px 20px 10px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.btn-primary {
  background: #0081cb;
  color: #fff;
  border: 2px solid #0081cb;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 47.9375em) {
  h1 {
    font-size: 48px;
  }
}
@font-face {
  src: url(../fonts/Archivo-Regular.ttf);
  font-family: Archivo-Regular;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #2a2a2a;
  font-family: Archivo-Regular;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.7px;
}
body .page-wrap .page-aside .aside-menu ul li a.active:after, body .page-wrap .page-aside .aside-menu ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
body .page-wrap .page-aside .aside-menu ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #0081cb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body .page-wrap {
  max-width: 1170px;
  margin: 0 auto;
}
body .page-wrap .page-aside {
  padding-top: 3rem;
  padding-bottom: 40px;
  float: left;
  width: 300px;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  z-index: 1001;
  background: #f2f3f7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
body .page-wrap .page-aside .aside-profile .auther-img {
  max-width: 200px;
  margin: 0 auto 2rem;
}
body .page-wrap .page-aside .aside-profile .auther-img img {
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
body .page-wrap .page-aside .aside-profile .auther-position {
  display: block;
  margin: 1rem 0 3rem;
  font-size: 12px;
  text-transform: uppercase;
}
body .page-wrap .page-aside .aside-menu ul li {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
body .page-wrap .page-aside .aside-menu ul li a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family: quicksand, Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body .page-wrap .page-aside .aside-menu ul li a:hover {
  color: #0081cb;
}
body .page-wrap .page-aside .aside-menu ul li a.active {
  color: #0081cb;
}
body .page-wrap .page-main {
  width: calc(100% - 300px);
  float: right;
  margin-left: 300px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
body .page-wrap .page-main .page-hero {
  width: 100%;
  height: 100vh;
  background: url(../images/img_bg_1.webp) fixed center top no-repeat;
}
body .page-wrap .page-main .page-hero .info {
  text-align: center;
}
body .page-wrap .page-main .page-hero .info h1 {
  margin-bottom: 1rem;
}
body .page-wrap .page-main .page-hero .info a {
  color: #2a2a2a;
  text-transform: uppercase;
  border: 1px solid #2a2a2a;
  padding: 10px 20px;
}
body .page-wrap .page-main .page-hero .info a:hover {
  color: #fff;
  background: #0081cb;
  border: 1px solid #0081cb;
}
body .page-wrap .page-main .page-hero .info a + a {
  margin-top: 1rem;
}
body .page-wrap .page-main .inner-content {
  width: 100%;
  padding: 4rem 2.5rem 0 2.5rem;
}
body .page-wrap .page-main .inner-content .page-title {
  font-size: 24px;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  position: relative;
}
body .page-wrap .page-main .inner-content .page-title .first-word {
  color: #fd9700;
}
body .page-wrap .page-main .inner-content .page-title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: -moz-radial-gradient(left, ellipse cover, #fd9700 0%, rgba(255, 255, 255, 0) 70%);
  background: -webkit-radial-gradient(left, ellipse cover, #fd9700 0%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(ellipse at left, #fd9700 0%, rgba(255, 255, 255, 0) 70%);
}
body .page-wrap .page-main .inner-content .info-list {
  margin: 1rem 0 2rem;
}
body .page-wrap .page-main .inner-content .info-list ul li {
  padding: 0 0 5px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
  text-align: left;
}
body .page-wrap .page-main .inner-content .service-item {
  margin-bottom: 30px;
  padding: 1.5em;
  -webkit-box-shadow: 0 0 56px -8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 0 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0 0 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0 0 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #2c98f0;
}
body .page-wrap .page-main .inner-content .service-item .icon {
  width: 60px;
  height: 60px;
  color: #fd9700;
  display: inline-block;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  background: -moz-linear-gradient(-45deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
  background: linear-gradient(135deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
}
body .page-wrap .page-main .inner-content .service-item .service-name {
  margin: 10px 0 5px;
}

@media only screen and (max-width: 767px) {
  body .page-wrap h1 {
    font-size: 48px;
  }
  body .page-wrap .page-aside {
    position: relative;
    padding-top: 50%;
  }
  body .page-wrap .page-aside .aside-menu {
    display: none;
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0px 1px 7px #000;
    padding: 20px 0px 5px;
  }
  body .page-wrap .page-aside .aside-menu ul {
    display: flex;
    justify-content: space-around;
  }
  body .page-wrap .page-aside .aside-menu.fixed {
    display: block;
  }
  body .page-wrap .page-aside .aside-footer {
    display: none;
  }
  body .page-wrap .page-main {
    margin-left: 0;
    padding: 0;
  }
  body .page-wrap .page-main .flex {
    padding-top: 2rem;
  }
  body .page-wrap .page-main .flex:last-child {
    padding-bottom: 3rem;
  }
  body .page-wrap .page-main .flex .inner-content {
    padding: 0;
  }
  body .page-wrap .page-main .flex .inner-content .info-list {
    margin: 1rem 0 2rem;
  }
  body .page-wrap .page-main .flex .inner-content .info-list ul li {
    width: auto;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
