* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #0081cb;
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.8em;
}

ul,
ol {
  list-style: none;
}

h4, h3, h2, h1 {
  color: #2a2a2a;
  letter-spacing: 1px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.btn {
  display: inline-block;
  padding: 7px 20px 10px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 47.9375em) {
  h1 {
    font-size: 48px;
  }

  .page-content {
    z-index: 1;
  }

  .page-icon {
    position: absolute;
    opacity: 0.5;
  }
}
@font-face {
  src: url(../fonts/Archivo-Regular.ttf);
  font-family: Archivo-Regular;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #2a2a2a;
  font-family: Archivo-Regular;
  font-size: 15px;
  line-height: 1.24;
}
body .page-wrap {
  max-width: 1170px;
  margin: 0 auto;
}
body .page-wrap .page-aside {
  padding-top: 3em;
  padding-bottom: 40px;
  float: left;
  width: 300px;
  height: 90vh;
  position: fixed;
  overflow-y: scroll;
  z-index: 1001;
  background: #f2f3f7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
body .page-wrap .page-aside .aside-profile .auther-img {
  max-width: 200px;
  margin: 0 auto 2em;
}
body .page-wrap .page-aside .aside-profile .auther-img img {
  border-radius: 50%;
}
body .page-wrap .page-aside .aside-profile .auther-position {
  display: block;
  margin: 1em 0 3em;
  font-size: 12px;
  text-transform: uppercase;
}
body .page-wrap .page-aside .aside-menu ul li {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body .page-wrap .page-aside .aside-menu ul li a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family: quicksand, Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body .page-wrap .page-aside .aside-menu ul li a:hover {
  color: #0081cb;
}
body .page-wrap .page-aside .aside-menu ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
body .page-wrap .page-aside .aside-menu ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #0081cb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body .page-wrap .page-main {
  width: calc(100% - 300px);
  float: right;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
body .page-wrap .page-main section {
  height: 100vh;
}
body .page-wrap .page-main .page-hero {
  width: 100%;
  height: 100vh;
  background: url(../images/img_bg_1.webp) fixed center top no-repeat;
}
body .page-wrap .page-main .page-hero .info h1 {
  margin-bottom: 1em;
}
body .page-wrap .page-main .page-hero .info a {
  color: #2a2a2a;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #2a2a2a;
  padding: 10px 20px;
}
body .page-wrap .page-main .page-hero .info a:hover {
  color: #fff;
  background: #0081cb;
  border: 1px solid #0081cb;
}
body .page-wrap .page-main .inner-content {
  padding: 4em 2.5em 0 2.5em;
}
body .page-wrap .page-main .inner-content .page-title {
  font-size: 24px;
  margin-bottom: 1em;
}
body .page-wrap .page-main .inner-content .page-title .first-word {
  color: #0081cb;
}

/*# sourceMappingURL=style.css.map */
