@import mixing
@import variable

img
  max-width: 100%

a
  color: $blue
  text-decoration: none

p
  font-size: 16px
  line-height: 1.6rem

strong
  color: $orange

ul,
ol
  list-style: none

.flex
  display: flex

.icon
  width: 60px
  height: 60px
  color: $orange
  display: inline-block
  @include border-radius(50%)
  line-height: 60px
  text-align: center
  background: -moz-linear-gradient(-45deg,rgba(255,152,0,.15) 0%,rgba(255,152,0,.01) 100%)
  background: -webkit-linear-gradient(-45deg,rgba(255,152,0,.15) 0%,rgba(255,152,0,.01) 100%)
  background: linear-gradient(135deg,rgba(255,152,0,.15) 0%,rgba(255,152,0,.01) 100%)               
 
.input
  width: 100%
  height: 50px
  display: block
  background: $gray
  padding: 10px 20px
  box-sizing: border-box
  outline: none
  border: 1px solid $gray

textarea
  width: 100%  
  display: block
  background: $gray
  padding: 10px 20px
  box-sizing: border-box
  outline: none
  border: 1px solid $gray

.contact-details
  margin-bottom: 1rem
  &:last-child
    margin-bottom: 2rem

.form-group
  margin-bottom: 1rem 
  &:last-child
    margin-bottom: 2rem

%color-shared
  color: $primary-color
  letter-spacing: 1px

h1
  @extend %color-shared
  font-size: 48px
h2
  @extend %color-shared
  font-size: 42px
h3
  @extend %color-shared
  font-size: 36px
h4
  @extend %color-shared
  font-size: 24px
h5
  @extend %color-shared
  font-size: 18px

.btn
  display: inline-block
  padding: 7px 20px 10px
  @include border-radius(5px)

.btn-primary
  background:$blue
  color: $white
  border: 2px solid $blue

.text-center
  text-align: center

@media only screen and (max-width: 47.9375em)
  h1
    font-size: 48px  
