@import reset
@import common
@import variable

@font-face
  src: url(../fonts/Archivo-Regular.ttf)
  font-family: Archivo-Regular

html
  scroll-behavior: smooth

body
  color: $primary-color
  font-family: $font-stack
  font-size: 16px
  line-height: 1.24
  letter-spacing: .7px

  %css-shared
    display: flex
    flex-direction: row
    justify-content: space-between

  
  %nav-bar-line
    visibility: visible
    -webkit-transform: scaleX(1)
    -moz-transform: scaleX(1)
    -ms-transform: scaleX(1)
    -o-transform: scaleX(1)
    transform: scaleX(1)
  
  %nav-bar-hover
    content: ""
    position: absolute
    height: 1px
    bottom: 7px
    left: 0
    right: 0
    background-color: $blue
    visibility: hidden
    -webkit-transform: scaleX(0)
    -moz-transform: scaleX(0)
    -ms-transform: scaleX(0)
    -o-transform: scaleX(0)
    transform: scaleX(0)
    -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275)
    -moz-transition: all .3s cubic-bezier(.175, .885, .32, 1.275)
    -ms-transition: all .3s cubic-bezier(.175, .885, .32, 1.275)
    -o-transition: all .3s cubic-bezier(.175, .885, .32, 1.275)
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275)

  .page-wrap
    max-width: 1170px
    margin: 0 auto
    .page-aside
      padding-top: 3rem
      padding-bottom: 40px
      float: left
      width: 300px
      height: 100vh
      position: fixed
      overflow-y: scroll
      z-index: 1001
      background: #f2f3f7
      -webkit-transition: .5s
      -o-transition: .5s
      transition: .5s
      .aside-profile
        .auther-img
          max-width: 200px
          margin: 0 auto 2rem          
          img            
            @include border-radius(50%)
        .auther-position
          display: block
          margin:1rem 0 3rem
          font-size: 12px
          text-transform: uppercase      
      .aside-menu
        ul          
          li
            margin: 0 0 15px
            padding: 0
            list-style: none
            font-size: 14px
            font-weight: 500
            text-transform: uppercase            
            a
              color: rgba(0, 0, 0, .7)
              text-decoration: none
              position: relative
              padding: 10px 0
              font-family: quicksand, Arial, sans-serif
              -webkit-transition: .3s
              -o-transition: .3s
              transition: .3s
              &:hover
                color: $blue
                &:after
                  @extend %nav-bar-line
              &:after
                @extend %nav-bar-hover
              &.active
                color: $blue
                &:after
                  @extend %nav-bar-line
                              

    .page-main
      width: calc(100% - 300px)   
      float: right
      margin-left: 300px
      -webkit-transition: .5s
      -o-transition: .5s
      transition: .5s
      section
        // height: 100vh                      
      .page-hero
        width: 100%
        height: 100vh
        background: url(../images/img_bg_1.webp) fixed center top no-repeat
        .info 
          h1            
            margin-bottom: 1rem      
          a
            color: $primary-color
            text-transform: uppercase            
            border: 1px solid $primary-color
            padding: 10px 20px        
            &:hover
              color: $white
              background: $blue
              border: 1px solid $blue        
      .inner-content
        width: 100%
        padding: 4rem 2.5rem 0 2.5rem
        // .row + .row
        //   margin-top: 1rem
        .page-title
          font-size: 24px
          margin-bottom: 2rem
          padding-bottom: 1rem
          position: relative
          .first-word
            color: $orange
          &:after
            content: ''
            position: absolute
            left: 0
            right: 0
            bottom: 0
            height: 1px
            background: -moz-radial-gradient(left,ellipse cover,$orange 0%,rgba(255,255,255,0) 70%)
            background: -webkit-radial-gradient(left,ellipse cover,$orange 0%,rgba(255,255,255,0) 70%)
            background: radial-gradient(ellipse at left,$orange 0%,rgba(255,255,255,0) 70%)          
        .info-list
          ul
            li
              padding: 0 0 5px
              display: inline-block
              vertical-align: top
              width: 49%
              text-align: left
        .service-item
            margin-bottom: 30px
            padding: 1.5em
            -webkit-box-shadow: 0 0 56px -8px rgba(0,0,0,.17)
            -moz-box-shadow: 0 0 56px -8px rgba(0,0,0,.17)
            -ms-box-shadow: 0 0 56px -8px rgba(0,0,0,.17)
            -o-box-shadow: 0 0 56px -8px rgba(0,0,0,.17)
            box-shadow: 0 0 56px -8px rgba(0,0,0,.17)
            border-bottom: 2px solid #2c98f0
            .icon
              width: 60px
              height: 60px
              color: $orange
              display: inline-block
              @include border-radius(50%)
              line-height: 60px
              text-align: center
              background: -moz-linear-gradient(-45deg,rgba(255,152,0,.15) 0%,rgba(255,152,0,.01) 100%)
              background: -webkit-linear-gradient(-45deg,rgba(255,152,0,.15) 0%,rgba(255,152,0,.01) 100%)
              background: linear-gradient(135deg,rgba(255,152,0,.15) 0%,rgba(255,152,0,.01) 100%)               
            .service-name
              margin: 10px 0 5px

@media only screen and (max-width: 47.9375em)
  h1
    font-size: 48px
  .page-aside
    position: relative !important  
    .aside-menu
      position: fixed !important
      bottom: 0
      background: #fff
      width: 100%
      left: 0
      box-shadow: 0px 1px 7px #000
      padding: 20px 0px 5px
      ul
        display: flex
        justify-content: space-around 
    .aside-footer
      display: none
  .page-main 
    margin-left: 0 !important
    section
      height: auto !important
      margin-bottom: 3rem
      .inner-content
        padding: 0 !important